
.NavBar{
    display: flex;
    justify-content: center;

    a{
       margin-right: 20px;
       transition: .3s;

       &:last-child{
            margin-right: 0;
       }

       &:hover{
            color: red;
       }
    }
}